<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioRegistro">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAutentificacionServicio">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISesionTutoriaServicio">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReservacionServicio">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IConsultaServicio">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICancelarServicio">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICalificacionServicio">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReporteServicio">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8091/AutentificacionServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAutentificacionServicio"
                contract="ServicioAutentificacion.IAutentificacionServicio"
                name="NetTcpBinding_IAutentificacionServicio" />
            <endpoint address="net.tcp://localhost:8092/RegistroServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioRegistro"
                contract="ServicioRegistro.IServicioRegistro" name="NetTcpBinding_IServicioRegistro" />
            <endpoint address="net.tcp://localhost:8094/SesionTutoriaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISesionTutoriaServicio"
                contract="ServicioSesionTutoria.ISesionTutoriaServicio" name="NetTcpBinding_ISesionTutoriaServicio" />
            <endpoint address="net.tcp://localhost:8093/ReservacionServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReservacionServicio"
                contract="ServicioReservacion.IReservacionServicio" name="NetTcpBinding_IReservacionServicio" />
            <endpoint address="net.tcp://localhost:8095/ConsultaServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IConsultaServicio"
                contract="ServicioConsulta.IConsultaServicio" name="NetTcpBinding_IConsultaServicio" />
            <endpoint address="net.tcp://localhost:8098/CancelarServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICancelarServicio"
                contract="ServicioCancelar.ICancelarServicio" name="NetTcpBinding_ICancelarServicio" />
            <endpoint address="net.tcp://localhost:8096/CalificacionServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalificacionServicio"
                contract="ServicioCalificacion.ICalificacionServicio" name="NetTcpBinding_ICalificacionServicio" />
            <endpoint address="net.tcp://localhost:8097/ReporteServicio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReporteServicio"
                contract="ServicioReporte.IReporteServicio" name="NetTcpBinding_IReporteServicio" />
        </client>
    </system.serviceModel>
</configuration>